fastapi
uvicorn[standard]
sqlalchemy
python-multipart
bcrypt==3.2.0
passlib[bcrypt]==1.7.4
python-jose
pydantic
pydantic-settings
requests
alembic
psycopg2-binary   # Only if using PostgreSQL
email-validator
